@keyframes flashingColors {
  0% { color: #000000; }
  20% { color: #10377a; }
  40% { color: #fab703; }
  60% { color: #e36712; }
  80% { color: #a9201d; }
  100% { color: #632727; }
}

.flashing-text {
  animation: flashingColors 3s infinite;
}
